/* Colors */
:root {
  --grey-2: #4f4f4f;
  --grey-3: #828282;
}

body {
  background-color: whitesmoke;
}

div {
  background-color: white;
}

/* Personal information */
.text-content .personal-information h1 {
  font-weight: 600;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: var(--grey-2);
}

.text-content .personal-information h2 {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--grey-3);
}

.text-content .contact-information .contact span {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--grey-2);
}

.text-content .contact-information .contact .material-icons {
  margin-right: 1rem;
}

.text-content .personal-description p {
  font-weight: 500;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: var(--grey-2);
}

/* Central section */
.central-section,
.central-section-column {
  background-color: whitesmoke;
}

/* Tech stack */
.central-section .tech-stack h2 {
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 2.2rem;
  text-transform: uppercase;
  color: var(--grey-2);
}

.central-section .tech-stack span {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: var(--grey-2);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.central-section .tech-stack .tech .tech-bar {
  background-color: #c4c4c4;
}

.central-section .tech-stack .tech .tech-bar .tech-progress {
  background-color: #2f80ed;
}

/* Hobbies */
.central-section .hobbies h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #4f4f4f;
}

.central-section .hobbies h3 {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 2.2rem;
  color: #333333;
}

.central-section .hobbies p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #828282;
}

/* Article */
.article h3 {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #e0e0e0;
}

.article h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #333333;
}

.article p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #828282;
}

.article a {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #2f80ed;
  text-decoration: none;
}

/* Experiences */
.experiences h2 {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  color: #4f4f4f;
}

.experiences span {
  font-weight: 500;
  font-size: 1.4rem;
  line-height: 1.7rem;
  color: #828282;
}

.experiences h3 {
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #333333;
}

.experiences p {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  color: #828282;
}

/* Projects */
.projects-section .projects-filters h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #4f4f4f;
}

.filter {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #4f4f4f;
}

.active-filter {
  color: #ffffff;
}
