body {
  padding: 5vh 10vw;
  padding-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  body {
    padding: 5vh 5vw;
    padding-bottom: 20px;
  }
}

div,
img {
  border-radius: 12px;
}

/* Personal information */
.personal-card {
  padding: 35px;
  display: flex;
  align-items: center;
}

.personal-card .personal-photo {
  max-width: 20vmin;
  flex-grow: 1;
}

.text-content {
  margin-left: 20px;
  flex-grow: 4;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  .personal-card {
    padding: 20px;
  }

  .personal-card .personal-photo {
    display: none;
  }

  .text-content {
    margin-left: 0;
  }
}

.text-content .personal-information {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.text-content .personal-information .presentation {
  margin-bottom: 10px;
}

.text-content .contact-information .contact {
  display: flex;
  align-items: center;
}

.text-content .contact-information .contact .material-icons {
  margin-right: 10px;
}

.text-content .personal-description p {
  margin: 10px 0;
}

/* Central section */
.central-section {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.central-section .central-section-column:first-child {
  flex-basis: 300px;
  flex-grow: 2;
}

.central-section .central-section-column:nth-child(2) {
  flex-basis: 400px;
  flex-grow: 3;
}

.central-section-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.central-section-column > div {
  padding: 35px;
}

/* Tech Stack */
.central-section .tech-stack .tech {
  margin: 10px 0;
  display: flex;
}

.central-section .tech-stack .tech span {
  flex-grow: 1;
  flex-basis: 20%;
}

.central-section .tech-stack .tech .tech-bar {
  flex-grow: 4;
}

.central-section .tech-stack .tech .tech-bar .tech-progress {
  height: 100%;
}

/* Hobbies */
.central-section .hobbies .card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.central-section .hobbies .card:not(:last-child) {
  margin: 30px 0;
}

/* Article */
.article {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@media only screen and (max-width: 600px) {
  .article {
    gap: 20px;
  }
}

.article .article-metadata {
  display: flex;
  gap: 30px;
}

/* Experiences */
.experiences {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 20px;
}

.experiences .card {
  display: flex;
  gap: 30px;
}

.experiences img {
  background-color: white;
  width: max(40vmin, 40%);
  max-height: 10vmin;
}

.experiences .card .card-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Projects */
.projects-section {
  background-color: var(--grey-5);
  margin-top: 20px;
}

.projects-section .projects-filters {
  padding: 40px;
}

.projects-section .projects-filters h2 {
  margin-bottom: 20px;
}

.projects-section .projects-filters .filter {
  padding: 10px 20px;
}

.projects-section .projects-filters .filters {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.filter {
  border: 1px solid var(--grey-2);
}

.active {
  color: white;
  background-color: var(--blue);
  border: 1px solid var(--blue);
}

.projects-section .projects-cards {
  background-color: var(--grey-5);
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.projects-section .projects-cards .project {
  background-color: white;
  padding: 40px;
  flex-basis: 30%;
  flex-grow: 1;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.projects-section .projects-cards .project .project-links {
  display: flex;
  gap: 20px;
}

.projects-section .projects-cards .project .project-links > div {
  padding: 10px 40px;
  border-radius: 12px;
  border: 1px solid var(--blue);
}

@media only screen and (max-width: 600px) {
  .projects-section .projects-cards .project {
    padding: 20px;
  }

  .projects-section .projects-cards .project .project-links > div {
    padding: 10px 20px;
  }
}

.projects-navigator {
  margin-top: 20px;
  background-color: var(--grey-5);
  display: flex;
  justify-content: flex-end;
  gap: 20px;
}

@media only screen and (max-width: 600px) {
  .projects-navigator {
    justify-content: center;
    gap: 15px;
  }
}

.projects-navigator span,
.projects-navigator span.material-icons {
  border-radius: 4px;
  padding: 10px;
}

.projects-navigator span.material-icons {
  padding-left: 12px;
  padding-right: 8px;
}

.projects-navigator span[data-navigator-index],
.projects-navigator span.material-icons {
  border: 1px solid var(--grey-2);
}

.projects-navigator span[data-navigator-index].active {
  color: white;
  border-color: var(--blue);
}

.projects-navigator > *:not([data-navigator-index]) {
  padding-left: 0;
  padding-right: 0;
}

/* Footer */
footer {
  margin-top: 40px;
}
