/* Start: CSS reset */
/* https://www.joshwcomeau.com/css/custom-css-reset/ */
/* Use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
* {
  margin: 0;
}
/* Set font family for the whole page */
html {
  font-family: 'PT Serif', serif;
}
/* Add accessible line height */
body {
  line-height: 1.5;
}
/* Improve media defaults and make images responsive */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Avoid text overflow */
p,
h1,
h2 {
  overflow-wrap: break-word;
}
/* End: CSS reset */
