/* Start: CSS reset */
/* Use a more-intuitive box-sizing model.*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin, padding and border. */
/* Remove default styles for fonts. */
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* Change default font-size from 16px to 10px, so 1rem = 10px */
:root {
  font-size: 62.5%;
}
/* Accessible line height */
/* Set accessible word and letter spacing */
/* System fonts */
body {
  font-size: 1.6rem;
  line-height: 1.5;
  word-spacing: 0.16em;
  letter-spacing: 0.12em;
  color: #333333;
  font-family: 'Iconsolata', monospace;
}
/* Improve media defaults and make images responsive */
img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}
/* Remove built-in form typographic styles */
button {
  font: inherit;
  outline: none;
}
/* Avoid text overflow */
/* Limit line length */
/* Add paragraph spacing relative to the element's font size */
p,
h1,
h2 {
  overflow-wrap: break-word;
  max-width: 75ch;
}
/* Remove anchor tags default styles */
a {
  color: inherit;
  text-decoration: none;
}
/* End: CSS reset */

.wrapper {
  min-height: 100vh;
  width: 100vw;
  display: grid;
  gap: 50px;
  grid-template-rows: auto 1fr auto;
  padding: min(15px, 3vh) min(50px, 5vw);
}

h1 {
  font-weight: 700;
  font-size: 2.4rem;
  line-height: 2.5rem;
  letter-spacing: -0.08em;
  text-transform: uppercase;
}

main {
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  place-items: center;
  place-content: center;
  gap: 50px;
}

.text-container h2 {
  font-weight: 700;
  font-size: 6.4rem;
  line-height: 9.5rem;
  letter-spacing: -0.035em;
}

@media only screen and (max-width: 768px) {
  .text-container h2 {
    font-size: 4.8rem;
    line-height: 7.1rem;
  }
}

.text-container p {
  color: #4f4f4f;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: -0.035em;
}

@media only screen and (max-width: 768px) {
  .text-container p {
    font-size: 1.8rem;
    line-height: 2.7rem;
  }
}

.text-container button {
  padding: 24px 43px;
  background-color: #333333;
  color: white;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2.1rem;
  letter-spacing: -0.035em;
  text-transform: uppercase;
}

.text-container > * {
  margin: 1em 0 1em 0;
}

footer {
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  color: #bdbdbd;
}

footer a {
  font-weight: 600;
  color: #bdbdbd;
  text-decoration: underline;
}
